<%= javascript_include_tag 'set_rate' %>
<script>
  $(function () {
    set_rate($('#average_rate'))
  });
</script>
<b>Average rate:</b><br/>
<div id="average_rate" data-country="<%=params[:average][:country] %>"></div>
